<form action="/Product/Save" method="post">
Id:
<input type="text" name="Id" />
<br>
Name:
<input type="text" name="Name" />
<br>
Preço:
<input type="text" name="Price" />
<br>
<button type="submit">Salvar</button>

</form>